<div class="container containerCenter">
  <div data-ng-if="false" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form >
        <legend>Add a card</legend>
      
        <div class="form-group">
          <label for="">Question</label>
          <input type="text" class="form-control" id="" placeholder="Question?" data-ng-model="newCard.question">
        </div>
        <div class="form-group">
          <label for="">Answer</label>
          <input type="text" class="form-control" id="" placeholder="Answer?" data-ng-model="newCard.answer">
        </div>
      
        
      
        
      </form>
      <button type="submit" class="btn btn-primary" data-ng-click="saveCard()">Submit</button>
    </div>
  </div>
  <div data-ng-if="!showAnswer" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h1>{{currentCard.question}}</h1>
      <hr />
      <button  datra-ng-if="currentcard.question"type="button" class="btn btn-default" data-ng-click="showAnswerToggle(true)">Show Answer</button>
    </div>
  </div>
  <div data-ng-if="showAnswer" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h2>{{currentCard.answer}}</h2>
      
    </div>
  </div>
  <hr data-ng-if="showAnswer" />
  <div data-ng-if="showAnswer" class="row">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

      I got this question right this many times: {{currentCard.correct}}
      <br />
      I got this question wrong this many times: {{currentCard.incorrect}}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
      <form action="" method="POST" class="form-inline" role="form">
      
        <div class="form-group">
         <button type="button" class="btn btn-success" data-ng-click="answer(true)">Got it Right!</button>
        </div>
        <div class="form-group">
         <button type="button" class="btn btn-danger" data-ng-click="answer(false)">Got it Wrong!</button>
        </div>
      
      </form>
    </div>
  </div>
</div>
